<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
      architecto vel esse aliquam ex voluptates, optio eos dolor cumque debitis
      adipisci eius magni quasi perferendis necessitatibus, non in, similique
      facere? Officia voluptatum nam itaque eligendi nobis cumque vitae sequi
      quasi, accusantium similique, molestias laudantium exercitationem. Culpa
      expedita sint, aliquam officia, dolor ducimus ipsum praesentium voluptatem
      illo dolores fugiat, dolore voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam impedit
      repellat velit dolore fuga mollitia incidunt voluptates aut. Quam maxime
      quibusdam dolorem nulla ratione obcaecati dolorum quas neque repellat
      provident.
    </p>
  </body>
</html>
