<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Expert Training Programs</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        illo blanditiis, veniam quod voluptas magni, ut minus quidem doloremque
        quis praesentium architecto commodi et dolorem accusantium! Labore sint
        repudiandae aperiam. Exercitationem ipsum blanditiis ab similique
        asperiores harum doloremque nesciunt aperiam earum magnam ex animi
        aliquam, modi nostrum veniam, consequatur quo et eius hic tempora. Id
        non facilis esse cupiditate a?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        dignissimos commodi optio deleniti voluptates quaerat incidunt ipsum
        reiciendis. Reiciendis ad quod consequatur consequuntur in rem possimus
        laboriosam? Atque, consequatur? Repellat! Dolores vel temporibus
        voluptatum qui beatae perspiciatis asperiores voluptatibus odio earum
        repudiandae totam cumque cupiditate deleniti sapiente alias laborum
        inventore eos quis iste, possimus id et dolor harum rem? Doloribus.
      </p>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
